body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #1F1F1F;
    margin: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header-1{
    height: 40px;
    background-color: #F0EEDD;
    display: flex;
    justify-content: center;
}
.header-1-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-1-1{
    width: 554px;
    height: 21px;
}
.header-2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
}
.header-2-2{
    display: flex;
    justify-content: center
}
.header-2-3{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
}
.main-info{
    background-image: url('assept/Fon1.svg');
    height: 604.8px;

}
.main-info-1{
    background-color: #F5F1E9;
    height: 212px;
}
.main-info-1-1{
    display: flex;
    justify-content: center;
    height: 61px;
    padding:20px 0;

}
.image-container {
    background-image: url('assept/Profile.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.O{
    color: aliceblue;
    font-size: 17px;
}
.image-control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 0.2px;
    padding: 40px 0;
}
p {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.main-text{
    width: 550px;
    height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder
}
.main-info-2{
    height: 340px;
    gap:135px
}
.main-info-2-1{
    display: flex;
    justify-content: center;
    float: left;
    width: 400px;
    padding: 134.2px 0 112.8px 0;
    margin: 0 0 0  134.2px ;
}
.main-info-2-2{
    display: block;
    width: 640px;
    height: 104px;
    float: right;
    padding: 121.1px 120px 114.8px 0;
}
.visual{
    background-color:#FBF6EA ;
    height: 939px;
}
.h2{
    font-size: 41px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 46.2px;
    letter-spacing: 1.25px;
}
.visual-info{
    display: flex;
    justify-content: center;
}
.visual-color{
    display: flex;
    justify-content: center;
}
.h1{
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.visual-color-1{
    display: flex;
    align-self: center;
    justify-content:center;
}
.visual-info-1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.p-1{
    display:flex;
    justify-self: start;
}
.p0{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.92px;
}
.limited-info{
    height: 819.8px;
    display: flex;
    margin-top: 79.42px;
    width: 1344px;
}
.lim{
    width: 560px;
    height: 176px;
}
.lim-1{
    display: flex;
    justify-content: center;
}
.lim-2{
    display: flex;
    justify-content: center;
}
.h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 55.2px;
    letter-spacing: 1.2px;
}
.p2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.98px;
}
.lim-pict{
    display: flex;
    align-items: center;
    gap: 60px;
}
.lim-pict-1{
    position: absolute;
}
.lim-pict-1-1{
    position: relative;
}